{% extends 'base.html' %}

{% block metadesc %}About the Bird Watch project, the bird image identification system for photographers: it's history, goals, capabilities, current limitations, and future plans.   .{% endblock %}

{% block title %}Bird Watch - About: The History, Goals, Capabilities, and Limitations{% endblock %}

{% block navbar %}
<div class="collapse navbar-collapse" id="birdWatchNavbarTop">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.birdwatch.photo/the-ai-behind-birdwatch/">How it Works</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.birdwatch.photo">BirdWatch Blog</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
    </li>
    </ul>
</div>
{% endblock %}

{% block content %}
    <div class="center-content">
        <h1>Bird Watch</h1>
        <p class="lead">The Deep Learning/AI and Computer Vision based Bird Image Identification System.</p>
        <p class="lead">Built for fellow wildlife photographers, by an amateur photographer and a machine learning enthusiast, the 'Bird Watch' project aims to be a solution to a simple problem: a way for photographers to identify birds in their photographs. This can also be a useful tool for bird/nature enthusiasts, researchers and academics.</p>
        <p>Application Changelog: <a href="https://www.birdwatch.photo/birdwatch-app/" target="_blank" class="alert-link">See the BirdWatch application details page</a></p>
        <p class="lead">The system can currently identify the following {{ classes|length }} species of birds:</p>
    </div>
    {% if publisher_id %}
    <div class="container">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- BW App - Content -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-{{publisher_id}}"
            data-ad-slot="6281028275"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Bird ID</th>
                    <th scope="col">Bird Name</th>
                </tr>
            </thead>
            <tbody>
                {% for bird_name, bird_id in classes.items() %}
                <tr><td>{{ bird_id + 1 }}</td><td>{{ bird_name }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="row">
            <div class="media">
                <img src="{{ url_for('static', filename='images/Author.jpg') }}" style="height: 170px; width: 170px" class="mr-3 img-thumbnail" alt="Photo of Author: Thimira Amaratunga">
                <div class="media-body">
                    <h5 class="mt-0">About the Author of BirdWatch</h5>
                    <p>The <a href="/">BirdWatch Application</a>, as well as the <a href="https://www.birdwatch.photo/">BirdWatch Blog</a>, is created an maintained by Thimira Amaratunga.</p>
                    <p>Thimira Amaratunga is an inventor, software architect, researcher in machine learning and computer vision, author, and an armature photographer.</p>
                    <ul>
                        <li>Website: <a href="https://www.codesofinterest.com" target="_blank" rel="nofollow">Codes of Interest</a></li>
                        <li>LinkedIn: <a href="https://www.linkedin.com/in/thimira-amaratunga" target="_blank" rel="nofollow">Thimira Amaratunga</a></li>
                        <li>Amazon Author Page: <a href="https://www.amazon.com/Thimira-Amaratunga/e/B0756FSYR8" target="_blank" rel="nofollow">Thimira Amaratunga</a></li>
                        <li>GitHub: <a href="https://github.com/Thimira" target="_blank" rel="nofollow">github.com/Thimira</a></li>
                        <li>Twitter: <a href="https://twitter.com/thimira42" target="_blank" rel="nofollow">@thimira42</a></li>
                    </ul>
                    <p>Thimira is also the author of <a href="https://www.codesofinterest.com/" target="_blank">Codes of Interest</a>, a website dedicated to sharing knowledge on Deep Learning, AI, and Computer Vision topics.</p>
                </div>
            </div>
            <div class="media mt-3">
                <a class="mr-3" href="https://amzn.to/3mSy8NS" target="_blank" rel="nofollow">
                    <img src="{{ url_for('static', filename='images/DLonWin.jpg') }}" style="height: 100px;" class="mr-3 img-thumbnail" alt="Deep Learning on Windows">
                </a>
                <div class="media-body">
                    <h5 class="mt-0">Thimira's Publications</h5>
                    <a href="https://amzn.to/3mSy8NS" target="_blank" rel="nofollow">
                        <strong>Deep Learning on Windows: Building Deep Learning Computer Vision Systems on Microsoft Windows</strong><br />
                    </a>
                    Learn to build deep learning and computer vision systems using Python, TensorFlow, Keras, OpenCV, and more, right within the familiar environment of Microsoft Windows.
                </div>
            </div>
            <div class="media mt-3">
                <a class="mr-3" href="https://amzn.to/2OEy19R" target="_blank" rel="nofollow">
                    <img src="{{ url_for('static', filename='images/BuildDeeper.jpg') }}" style="height: 100px;" class="mr-3 img-thumbnail" alt="Build Deeper: The Path to Deep Learning">
                </a>
                <div class="media-body">
                    <a href="https://amzn.to/2OEy19R" target="_blank" rel="nofollow">
                        <strong>Build Deeper: The Path to Deep Learning</strong><br />
                    </a>
                    Build Deeper is a complete and practical guide that can help you take the first few steps in deep learning. It will guide you step-by-step, from understanding the basic concepts, to building your first practical application.
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="alert alert-light" role="alert">
                <h5 class="alert-heading">Info:</h5>
                <ul>
                    <li>As this is a <strong>beta</strong> release, the system is still limited. Therefore, miss-identification of images are still possible.</li>
                    <li>Over time, as we train the system further, the accuracy will get better, and the miss-classifications will reduce.</li>
                    <li>We <strong>will not</strong> store any of the images you upload. The images are discarded as soon as the classification is made.</li>
                    <li>The code of this application is publicly available at <a href="https://github.com/Thimira/bird_watch" target="_blank" class="alert-link" rel="nofollow">GitHub</a>. Feel free to go through the code, and suggest improvements.</li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
{% endblock %}  