{% extends 'base.html' %}

{% block metadesc %}How Bird Watch works: The science and the components behind the Deep Learning/AI, Computer Vision based bird image identification system.{% endblock %}

{% block title %}Bird Watch - How it Works: The science and the components behind the Deep Learning/AI, Computer Vision based bird image identification system{% endblock %}

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">How it Works <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>
    </ul>
</div>
{% endblock %}

{% block content %}
    <div class="center-content">
        <h1>Bird Watch: How it Works</h1>
        <p class="lead">Bird Watch is a <em>Deep Learning Computer Vision</em> application, developed using Keras and TensorFlow, with Flask for the web application.</p>
        
    </div>
    <div class="container text-center">
        <figure class="figure">
            <img src="{{ url_for('static', filename='images/DeepLearningVenn.png') }}" class="figure-img img-fluid rounded mx-auto d-block" alt="What is deep learning">
            <figcaption class="figure-caption">What is deep learning?</figcaption>
        </figure>
    </div>
    <div class="container">
        <h5 class="mt-0">What is Deep Learning?</h5>
        <p>Deep Learning is a subset of Machine Learning which focuses on an area of algorithms inspired by our understanding of how the brain works to obtain knowledge.</p>
        <p><strong>Intelligent Machines:</strong> The idea that machines can one day be as intelligent as humans.</p>
        <p><strong>Artificial Intelligence:</strong> The formal research field for which the goal is to build intelligent machines.</p>
        <p><strong>Machine Learning:</strong> A subset of Artificial Intelligence which aims at providing machines the ability to learn without explicit programming.</p>
        <p><strong>Deep Learning:</strong> A subset of Machine Learning where <em>Hierarchical Feature Learning</em> (which was inspired by how our brains work) to obtain knowledge.</p>
        <p>Read more about Deep Learning and its capabilities here: <a href="https://www.codesofinterest.com/p/what-is-deep-learning.html" target="_blank">Codes of Interest: What is Deep Learning?</a></p>
    </div>
    <br />
    <div class="container text-center">
        <figure class="figure">
            <img src="{{ url_for('static', filename='images/MLTimeline.png') }}" class="figure-img img-fluid rounded mx-auto d-block" alt="The history of deep learning">
            <figcaption class="figure-caption">The history of deep learning. (Image source: <a href="https://www.codesofinterest.com/p/what-is-deep-learning.html" target="_blank">Codes of Interest: What is Deep Learning?</a>)</figcaption>
        </figure>
    </div>
    <br />
    <div class="container">
        <p>Bird Watch is a Deep Learning Computer Vision system, that uses a Convolutional Neural Network (a type of deep learning model which works exceptionally well with vision tasks).</p>
        <p>The Bird Watch model is currently built on top of the InceptionV3 deep learning model. InceptionV3 is an evolution of the GoogLeNet, which won the ImageNet Large Scale Visual Recognition Challenge (ILSVRC) in 2015, with a top-5 error rate of just 3.5% (See more on InceptionV3 here: <a href="https://arxiv.org/abs/1512.00567" target="_blank">https://arxiv.org/abs/1512.00567</a>). With InceptionV3 as base a convolutional model was built and trained using transfer learning and fine-tuning techniques.</p>
        <p>One of the most challenging aspects of the Bird Watch project is to gather proper training data for the system. Our dataset is currently around 15000 - and growing - labeled images of various bird species. The training images, and the input images, are processed in 398x398 pixel resolution, which was selected after experimentation to give the current best accuracy. The model was trained and then fine-tuned over many iterations with model checkpointing and early stopping in order to get the best performing training configuration. Data augmentation was also used on the training dataset as a means to reduce overfitting of the model.</p>
        <p>The system currently has a top-1 error rate of about 15% while a top-5 error rate of about 8%. The current model training graph is shown below:</p>
    </div>
    <div class="container text-center">
        <figure class="figure">
            <img src="{{ url_for('static', filename='images/training.png') }}" class="figure-img img-fluid rounded mx-auto d-block" alt="The model training graph of the current version of Bird Watch">
            <figcaption class="figure-caption">The model training graph of the current version of Bird Watch</figcaption>
        </figure>
    </div>
    <div class="container">
        <p>The full model structure of Bird Watch is shown below. We are constantly experimenting with the model structure in order to increase the accuracy:</p>
    </div>
    <div class="container text-center">
        <figure class="figure">
            <img src="{{ url_for('static', filename='images/model.svg') }}" class="figure-img img-fluid rounded mx-auto d-block" alt="The Deep Learning model structure of Bird Watch">
            <figcaption class="figure-caption">The Deep Learning model structure of Bird Watch</figcaption>
        </figure>
    </div>
    <br />
    <br />
    <br />
    <br />
{% endblock %}