{% extends 'base.html' %}

{% block metadesc %}Bird Watch: the Deep Learning/AI based bird image identification system.{% endblock %}

{% block title %}Bird Watch: Home{% endblock %}

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/howitworks">How it Works</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>
    </ul>
</div>
{% endblock %}  


{% block content %}
    {% if not label %}
    <div class="jumbotron">
        <h1 class="display-4">Bird Watch</h1>
        <p class="lead">A Deep Learning / AI based Bird Image Identification System.</p>
        <hr class="my-4">
        <p class="lead">Upload your bird images below, and the system will try to recognition them.</p>
    </div>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="bird_image">Select image to upload</label>
            <input type="file" class="form-control-file btn btn-outline-secondary" name="bird_image" id="bird_image" accept=".jpg,.jpeg,.gif,.png" required="required">
        </div>
        <div class="form-group">
            <input type="submit" value="Process" name="submit" class="btn btn-dark">
        </div>
    </form>
    <br />
    {% if label %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="data:image/jpeg;base64,{{image}}" class="card-img-top" alt="predicted image">
                    <div class="card-body">
                        <h5 class="card-title">Uploaded</h5>
                        <p class="card-text">File Name : {{file_name}}</p>
                        <p class="card-text">File Size : {{file_size}}</p>
                        <p class="card-text">Original Resolution : {{width}} X {{height}} pixels</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Identification</h5>
                        <p class="card-text">Predicted : {{label}}</p>
                        <p class="card-text">Confidence [0-100] : </p>
                        <div class="progress">
                            <div class=" 
                            {%- if prob|float > 80 -%}
                            progress-bar bg-success
                            {%- elif prob|float > 50 -%}
                            progress-bar bg-warning
                            {%- else -%}
                            progress-bar bg-danger
                            {%- endif -%}
                            " role="progressbar" style="width: {{prob}}%" aria-valuenow="{{prob}}" aria-valuemin="0" aria-valuemax="100">{{prob}} %</div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="card-text">Did we get it correct?</p>
                        <span id='prediction_id' style="display:none">{{prediction_id}}</span>
                        <a href="#" id="pred-correct" class="badge badge-success">Correct</a>
                        <a href="#" id="pred-incorrect" class="badge badge-danger">Incorrect</a>
                        <a href="#" id="pred-notsure" class="badge badge-info">Not sure</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="correct-feedback" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" style="position: absolute; top: 70px; right: 10px;">
            <div class="toast-header">
                <strong class="mr-auto">Thank you!</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                Your feedback helps us improve the accuracy of the system.
            </div>
        </div>
    </div>    
    {% endif %}
    <br />
    <div class="alert alert-info" role="alert">
        <h5 class="alert-heading">Info:</h5>
        <ul>
            <li>This is still an <strong>Beta</strong> release. There are still many limitations. Miss-identification of birds are possible.</li>
            <li>The system can currently identify 222 species of birds. See the <a href="/about" class="alert-link">About</a> page for details.</li>
            <li>The images you upload <strong>WILL NOT</strong> be kept in any way. The uploaded image data will be discarded on each request.</li>
        </ul>
        <p class="mb-0">The code of this application is available at <a href="https://github.com/Thimira/bird_watch" target="_blank" class="alert-link">GitHub</a>.</p>
    </div>
    <br />
    <br />
    <br />
    <br />
{% endblock %}  